/////   VARIABLES   /////
$primary-color: rgb(254, 88, 186);
$secondary-color: rgb(245, 245, 245);
$tertiary-color: rgb(49, 21, 80);
$background-color: rgb(0, 0, 0);

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-vertical-small: 6rem;

$default-font-size: 1.6rem;
