@import "../../app.component.scss";

.training__form {
  margin: 5rem auto;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  border: 1px solid $primary-color;
  background-color: rgba($background-color, 0.6);
  width: 100rem;
  border-radius: 1.5rem;
  max-height: 80vh;
  overflow-y: auto;

  @include scrollbar;

  /// INPUT ///
  &--input {
    display: inherit;

    &-name,
    &-days {
      display: inherit;
      flex-direction: column;
      margin: 5rem;
      color: $primary-color;
      font-size: 2rem;

      input,
      select {
        padding: 1rem;
        border: none;
        margin-top: 1rem;
        border-radius: 1rem;
      }

      input {
        width: 40rem;
      }
    }
  }

  /// TRAINING DAYS LIST/////
  &--container {
    padding-top: 3rem;
    margin: 0 5rem;
  }

  &--creator {
    margin: 1rem 0;

    &-day {
      font-size: 2rem;
      margin-bottom: 1rem;
      color: $primary-color;
    }

    &-input {
      display: flex;
      flex-direction: column;
      font-size: 1.8rem;
      color: $primary-color;
      margin: 1rem 0;

      input {
        padding: 1rem;
        margin-top: 1rem;
        border-radius: 1rem;
        width: 20rem;
      }
    }

    &-btn {
      margin: 3rem 0;
      font-size: 1.5rem;
      padding: 1rem 2rem;
    }

    /// SELECTED EXERCISES ///
    &-exercises {
      display: flex;
      flex-wrap: wrap;
      margin-top: 2rem;

      &-card {
        flex: 0 0 calc(50% - 6rem); // 33.333% to fit three items in a row with margin
        margin: 3rem;

        &-form {
          display: flex;
          justify-content: space-between;
          padding: 1.5rem;
          border-bottom: 1px solid rgba($primary-color, 0.4);

          &-heading {
            color: $primary-color;
            font-size: 1.8rem;
            font-weight: 500;
            align-self: center;
          }

          &-num {
            font-size: 1.5rem;
            width: 6rem;
            padding: 1rem;
            text-align: center;
            border-radius: 1.5rem;
          }
        }
      }
    }
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
    margin-right: 7rem;
  }
}

///EXERCISE///

.exercises__form {
  display: flex;
  color: $color-white;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 80vh;
  overflow-y: auto;
  margin-top: 2rem;
  @include scrollbar;

  &--card {
    border: 1px solid $primary-color;
    height: 12rem;
    width: 18rem;
    padding: 2rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &-heading {
      font-weight: 700;
      font-size: 1.5rem;
    }

    &-muscleType {
      font-weight: 600;
      font-size: 1.2rem;
    }

    .exercise__form--card-btn {
      margin-top: 1rem;
      align-self: end;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      background-color: rgba($primary-color, 0.85);
      color: rgba($color-white, 0.9);
      font-weight: 700;
      font-size: 2rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s ease;

      &:hover {
        cursor: pointer;
        transform: scale(1.2);
        background-color: rgba($primary-color, 1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }

      &:active {
        transform: scale(0.95);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
    }
  }

  &--input {
    margin: 3.5rem;
    display: flex;
    flex-direction: column;
    margin-left: 9rem;
    height: 4rem;

    input {
      font-size: 1.6rem;
      width: 30rem;
      height: 100%;
      padding: 1rem;
      border: none;
      border-radius: 1.5rem;
    }

    label {
      font-size: 1.8rem;
      color: $primary-color;
      margin-bottom: 0.5rem;
      margin-left: 0.5rem;
    }
  }
}

input,
select {
  font-size: 1.5rem;

  &:focus {
    outline: none;
  }
}
