@import "app/app.component.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-image: url("assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0; /* Reset default body margin */
  padding: 0; /* Reset default body padding */
  height: 100vh;
}
